<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iflux2-test-qiangge</title>
    <script type="text/javascript" src="http://pic.qianmi.com/jslib/jquery/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="content"></div>
    <script src="http://localhost:3000/webpack-dev-server.js"></script>
</body>
</html>